html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.header {
  background: grey
}

.nav {
  background: white;
}

.content {
  height: 100%;
  background: grey;
}

.container {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
}

.square {
  width: 30%;
  float: left;
  margin: 1.6%;
  padding-bottom: 30%;
}

.square_hide {
  display: none;
}